<?xml version="1.0" ?>
<launch>

  <!--Start detection-->
  <node pkg="mir_vision" type="detection_server" name="detection_server" output="screen" >  
    <param name="path_package"              type="str"    value="$(find mir_vision)" /> 
    <param name="verbose"                   type="bool"   value="true" />  
    <!-- <param name="parent_frame"         type="str"    value="camera_arm_color_optical_frame" /> 
    <param name="child_frame"               type="str"    value="object" /> 
    <param name="config_color"              type="str"    value="" /> 
    <param name="config_depth"              type="str"    value="" /> 
    <param name="model_color"               type="str"    value="$(find mir_vision)/model/teabox/teabox.cao" /> 
    <param name="model_depth"               type="str"    value="" /> 
    <param name="init_file"                 type="str"    value="" /> 
    <param name="learning_data"             type="str"    value="learning/data-learned.bin" /> 
    <param name="use_ogre"                  type="bool"   value="false" />
    <param name="use_scanline"              type="bool"   value="false" />
    <param name="use_edges"                 type="bool"   value="true" />
    <param name="use_klt"                   type="bool"   value="true" />
    <param name="use_depth"                 type="bool"   value="true" />
    <param name="learn"                     type="bool"   value="false" />
    <param name="auto_init"                 type="bool"   value="false" />
    <param name="display_projection_error"  type="bool"   value="false" />
    <param name="broadcast_transform"       type="bool"   value="true" />
    <param name="proj_error_threshold"      type="double" value="25" /> -->
  </node>

  <node pkg="mir_vision" type="detection_client" name="detection_client" output="screen" > 
    <param name="path_searchposes"          type="str"    value="$(find mir_vision)/config/searchPoses.config" /> 
    <param name="object_name"               type="str"    value="Teabox" />
    <!-- <param name="learning_data"             type="str"    value="Teabox1_learning_data.xml" /> -->
    <param name="learning_data"             type="str"    value="Teabox0_learning_data.bin" />
    <!-- <param name="max_time"                  type="double" value="200" />  -->
    <param name="move_robot"                type="bool"   value="false" />
  </node>

</launch>
